<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
        <mat-nav-list>
            <a mat-list-item (click)="inicio()">Inicio</a>
            <a mat-list-item (click)="docentes()">Docentes</a>
            <a mat-list-item (click)="grupos()">Grupos</a>
            <a mat-list-item (click)="salir()">Alumnos</a>
            <a mat-list-item (click)="avisos()">Avisos</a>
            <a mat-list-item (click)="salir()">Salir</a>
        </mat-nav-list>

    </mat-sidenav>
    <!--Menu lateral fin-->

    <!--TODO CODIGO AQUI-->
    <mat-sidenav-content>
        <!--Boton para abrir menú-->
        <button mat-icon-button (click)="opened=!opened" style="position: fixed;">
            <mat-icon>menu</mat-icon>
        </button>
        <!--Fin boton-->
        <router-outlet></router-outlet>

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="container mt-3 uno">
                        <div class="media border p-3 mb-2 bg-light text-dark">
                            <div class="media-body mymediabody ">
                                <div style="text-align: center;">
                                    <h3 style="color: black;"><b>DOCENTES</b>
                                    </h3>
                                    <button class="btn btn-primary btn-sm"
                                        data-toggle='modal' data-target='#modalEditar'>
                                        <i class="fa fa-address-book" style="color:white;font-size:20px"></i>
                                        AGREGAR</button>
                                </div>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered order-table">
                                        <thead class="table-active">
                                            <tr>
                                                <th>NOMBRE</th>
                                                <th>PERIODO</th>
                                                <th>AÑO</th>
                                                <th>MODALIDAD</th>
                                                <th>LUGARES</th>
                                                <th>ID DOCENTE</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  style="color: black;">
                                                <td>--</td>
                                                <td>--</td>
                                                <td>--</td>
                                                <td>--</td>
                                                <td>--</td>
                                                <td>--</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            

        </div>


        <!--FIN CODIGO-->
    </mat-sidenav-content>

</mat-sidenav-container>
