<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
      <mat-nav-list>
        <a mat-list-item (click)="inicio()">Inicio</a>
        <a mat-list-item (click)="docentes()">Docentes</a>
        <a mat-list-item (click)="salir()">Grupos</a>
        <a mat-list-item (click)="salir()">Alumnos</a>
        <a mat-list-item (click)="aviso()">Avisos</a>
        <a mat-list-item (click)="salir()">Salir</a>
      </mat-nav-list>
    </mat-sidenav>
    <!--Menu lateral fin-->
  
    <!--TODO CODIGO AQUI-->
    <mat-sidenav-content>
      <!--Boton para abrir menú-->
      <button mat-icon-button (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
      <!--Fin boton-->
      <router-outlet></router-outlet>
      <div class="container">
        <div class="row">
          <h1 style="text-shadow: 3px 3px 5px #3f796f;"><b>AVISOS</b></h1>
          <hr>
          
        </div>
  
        <div class="row" *ngFor="let datos of avisos">
          <div class="col-md-12">
            <div class="container mt-3 uno">
              <div class="media border p-3 mb-2 bg-light text-dark">
                <div class="media-body mymediabody ">
                  <div style="text-align: right;">
                  <!-- <button class="btn btn-primary btn-sm"><i class="fa fa-edit" style="color:white;font-size:20px"></i> EDITAR</button> --> 
                  </div>
                  <h3 style="color: black;"><b>{{datos.fecha_avi | date: 'fullDate'}}</b>
                  </h3>
                  <p class="text-dark text-justify" style="font-size:16px"  [innerHTML]="datos.mensaje_avi">
                  <!--  {{datos.mensaje_avi}} -->
                  </p>
                </div>
              </div>
            </div>
          </div>
  
  
          
        </div>
  
        <hr>
        <div class="row">
          <h1 style="text-shadow: 3px 3px 5px #3f796f;"><b>INFO</b></h1>
          <hr>
           
        </div>
        <div class="row" >
          <div class="col-md-12">
            <div class="container mt-3 uno">
              <div class="media border p-3 mb-2 bg-light text-dark">
                <div class="media-body mymediabody ">
                  <div style="text-align: right;">
                    
                    <ckeditor [editor]="Editor" ></ckeditor>
                    <button class="btn btn-primary btn-sm"><i class="fa fa-edit" style="color:white;font-size:20px"></i> EDITAR</button>
                  </div>
                  <h3 style="color: black;"><b>COSTOS</b>
                  </h3>
                  <p class="text-dark text-justify" style="font-size: 16px">
                   · Alumnos internos: $700.00 mxn. <br>
                   · Alumnos externos: $850.00 mxn.  
                  </p>
  
                  <h3 style="color: black;"><b>CONTACTO</b>
                  </h3>
                  <p class="text-dark text-justify" style="font-size: 16px">
                   · Teléfono: 786 154 9020 <br>
                   · Correo electrónico: idiomas@cdhidalgo.tecnm.mx 
                  </p>
  
                  <h3 style="color: black;"><b>CUENTAS BANCARIAS</b>
                  </h3>
                  <p class="text-dark text-justify" style="font-size: 16px">
                   · Cuenta <b>0115142997</b> a nombre del Instituto Tecnológico Superior de Ciudad Hidalgo en BBVA BANCOMER<br>
                  </p>
  
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
      <!--FIN CODIGO-->
    </mat-sidenav-content>
  </mat-sidenav-container>
