<br><br>
<div class="container">
    <br><br>
    <div class="col-12 user-img" style="text-align: center;">
        <img src="../../assets/itsch.png" width="100px" />
    </div>
    <br>

    <div class="input-group mb-3">
        <input input type="text" name="nombres" id="nombres" class="form-control input-lg" placeholder="Nombre (s)"
            [(ngModel)]="nuevoAlumno.nombre">
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <div class="input-group mb-3">
                <input type="text" name="ap_pat" id="ap_pat" class="form-control input-lg"
                    placeholder="Apellido Paterno" [(ngModel)]="nuevoAlumno.ap_pat">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <div class="input-group mb-3">
                <input type="text" name="ap_mat" id="ap_mat" class="form-control input-lg"
                    placeholder="Apellido Materno" [(ngModel)]="nuevoAlumno.ap_mat">
            </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Correo Electrónico"
            [(ngModel)]="nuevoAlumno.correo">
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <ng-select [items]="tipos"
            bindLabel="name"
            bindValue="name"
            [multiple]="false"
            placeholder="SELECCIONA UNA OPCIÓN"
            [(ngModel)]="nuevoAlumno.tipo">
            
 </ng-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <div class="input-group mb-3">
                <input type="text" name="clave" id="clave" class="form-control input-lg"
                    placeholder="No. Control / CURP" [(ngModel)]="nuevoAlumno.clave">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <div class="input-group mb-3">
                <input type="password" name="pass" id="pass" class="form-control input-lg" placeholder="Contraseña"
                    [(ngModel)]="nuevoAlumno.contra">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <div class="input-group mb-3">
                <input type="password" name="con_pass" id="con_pass" class="form-control input-lg"
                    placeholder="Confirma Contraseña"  [(ngModel)]="nuevoAlumno.conTemp">
            </div>
        </div>
    </div>

    <br>
    <div style="text-align: center;">
        <div class="btn-group mb-3">
            <button class="btn btn-info btn-md" name="btn1" (click)="registrar()">Registrar</button>

            <button class="btn btn-primary btn-md" name="btn2" (click)="inicio() ">Volver</button>

        </div>
    </div>
    <br><br>
</div>